/* DESKTOP */
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5, p, li, a {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* start custom styles */
.slideCustom{
	width:100%; max-height:510px;
}
.social{
	width:55px;
	height:55px;
}
#news{
	font-size:20px;
	color:black;
	background-color:white;
	min-height:150px;
	padding:20px;
}
.message-lg{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:42px;
	font-weight:bolder;
	padding: 15px;
	margin: 10px 10px 0px 10px;
}

.message{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:42px;
	font-weight:bolder;
	padding: 15px;
	margin: 10px 10px 0px 10px;
}
/* crimson */

.crimson, .container > .crimson{
	background-color:#8C001A;
	color:white;
	font-weight:bolder;
	font-size:16px;
}




.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img > .img_custom{
	display:inline;
}
.navbar-default .navbar-nav > li > a {
	color:white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:orangered;
	color:#8C001A;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#F7C331;
}
.navbar-default .navbar-brand {
	color:orangered;
}
.navbar-default .navbar-brand:hover {
	color:#F7C331;
}
.navbar-static-top {
    margin-bottom: 0;
}
.navbar-default {
    border:none;
}

footer{
	 position:relative;
	 width:100%;
	 bottom: 0px 20px;
	 min-height:60px;   /* Height of the footer */
	 margin-top: 10px;
}
	
	p.crimson { min-width: 550px; }
	
@media (min-width: 2000px) {
	
	.img_margin{
		top: 50%;
	    left: 50%;
	    margin-left: 10%;
	    margin-right: -50%;
	    padding: 10px;
	}
}	
	
@media (min-width: 1600px) {
	
	.img_margin{
		top: -50%;
	   	left: 50%;
	   	margin-left: 10%;
	    margin-right: -50%;
	    padding: 10px;
	}
}	
	
@media (min-width: 1440px){
	
	.img_margin{
		top: 50%;
	    left: 50%;
	    margin-left: 10%;
	    margin-right: -50%;
	    padding: 10px;
	}
}

@media (min-width: 1024px) and @media (max-width: 1440px){
	
	.img_margin{
		top: 50%;
	    left: 50%;
	    margin-left: 10%;
	    margin-right: -50%;
	    padding: 10px;
	}
}

@media (min-width: 1024px) {
	
	.img_margin{
		top: 50%;
	    left: 60%;
	    margin-right: -50%;
	    padding: 10px;
	}
}
/* tablet view*/ 
@media (min-width: 768px) {

	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img > .img_custom{
		display:inline;
	}
	.navbar-default .navbar-nav > li > a {
		color:white;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		background-color:orangered;
		color:#8C001A;
	}
	.navbar-default .navbar-nav > li > a:hover {
		color:#F7C331;
	}
	.navbar-default .navbar-brand {
		color:orangered;
	}
	.navbar-default .navbar-brand:hover {
		color:#F7C331;
	}
	.navbar-static-top {
	    margin-bottom: 0;
	}
	.navbar-default {
	    border:none;
	}
	.crimson, .container > .crimson{
		background-color:#8C001A;
		color:white;
		font-weight:bolder;
		font-size:16px;
	}
	body{
		min-height:100%
	}
   footer{
	   position:relative;
	   width:100%;
	   bottom: 0px 20px;
	   min-height:60px;   /* Height of the footer */
	   margin-top: 10px;
   }
   
   p.crimson { min-width: 550px; }
   .img_margin{
		top: 50%;
		left: 50%;
		margin-right: -50%;
		padding: 10px;
	}
   
 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color:#F7C331;
	
	}
}


@media (min-width: 268px){
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img > .img_custom{
		display:inline;
	}
	.crimson, .container > .crimson{
		background-color:#8C001A;
		color:white;
		font-weight:bolder;
		font-size:16px;
	}
	body{
		min-height:100%
	}
	footer{
		position:relative;
		width:100%;
		bottom: 0px 20px;
		min-height:60px;   /* Height of the footer */
		margin-top: 10px;
   }
   	.slideCustom{
		width:100%; max-height:350px;
	}
	.social{
		width:55px;
		height:55px;
	}
	
	#news{
		font-size:20px;
		color:black;
		background-color:white;
		min-height:70px;
		padding:10px;
	}
	/* crimson */
	
	.crimson, .container > .crimson {
		background-color:#8C001A;
		color:white;
		font-weight:bolder;
		font-size:16px;
	}
	
	p.crimson { min-width: 150px; }
	.img_margin{
		top: 50%;
		left: 50%;
		margin-right: -50%; 
		padding: 10px; !important
	}
	
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img > .img_custom{
		display: inline;
	}
	.navbar-default .navbar-toggle {
		border-color: orangered;
	}
	.navbar-default .navbar-toggle .icon-bar, .navbar-toggle .icon-bar + .icon-bar {
		background-color: #8C001A;
		
	}
	.icon-bar{
		background-color: orangered !important;
	}
	.icon-bar:focus{
		background-color: #8C001A !important;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		/*background-color: orangered;
		color:#8C001A;*/
	}
	
	 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	 	border-color: red;
		background-color: #ffffff;
	}

}